.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.css-az8st9-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-az8st9-MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: none !important;
    box-shadow: none !important;
}
